# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.env

# Test binaries
*.test

# Go coverage tool output
*.out

# Rust compiled files and executables
debug/
target/

# Rust Cargo lock file (uncomment if creating an executable)
# Cargo.lock

# Rustfmt backup files
**/*.rs.bk

# PostgreSQL init scripts
.postgres

# HTML templates for rendering
templates/

# Keys and secrets
secrets/
