[profile.dev]
  opt-level = 0
  debug = true
  rpath = false
  lto = false
  debug-assertions = true
  codegen-units = 16
  panic = 'unwind'
  incremental = true
  overflow-checks = true
  
  [profile.release]
  opt-level = 'z'
  debug = false
  rpath = false
  lto = true
  debug-assertions = false
  codegen-units = 1
  panic = 'abort'
  incremental = false
  overflow-checks = false
  
  [profile.test]
  opt-level = 0
  debug = 2
  rpath = false
  lto = false
  debug-assertions = true
  codegen-units = 16
  incremental = true
  overflow-checks = true
  
  [profile.bench]
  opt-level = 'z'
  debug = false
  rpath = false
  lto = true
  debug-assertions = false
  codegen-units = 1
  incremental = false
  overflow-checks = false