[server]
domain = "sso.arsx.xyz"
addr = "127.0.0.1"

[postgres]
addr = "postgres://example:example@localhost/example"

[redis]
addr = "redis://localhost"

[mailer]
server = "smtp.example.com"
username = "test@example.com"
password = "example"
verify_link = "http://sso.example.com/verify"

[jwt]
secret = "secret.jwt.arsx.xyz"